<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="C:\Users\ankan sen\Desktop\ankan\New folder\static\css\form.css">
</head>
<body>

    <div class="container-fluid">
  <h2 class="mt-4">Add Student</h2>

  <form class="student-form" method="POST">
  <div class="form-group">
    <label for="student_name">Name of Student</label>
    <input type="text" id="student_name" name="student_class" required>
  </div>

  <div class="form-group">
    <label for="student_class">Class</label>
    <input type="text" id="student_class" name="student_class" required>
  </div>

  <div class="form-group">
    <label for="student_dob">Date of Birth</label>
    <input type="date" id="student_dob" name="student_dob" required>
  </div>

  <div class="form-group">
    <label for="student_city">City</label>
    <input type="text" id="student_city" name="student_city" required>
  </div>

  <div class="form-group">
    <label for="student_name">State</label>
    <input type="text" id="student_state" name="student_state" required>
  </div>

  <div class="form-group">
    <label for="student_stream">Stream</label>
    <input type="text" id="student_stream" name="student_stream" required>
  </div>

  <div class="form-group">
    <label for="student_subjects">Subjects Opted</label>
    <input type="text" id="student_subjects" name="student_subjects" required>
  </div>

  <div class="form-group">
    <label for="student_admno">Admission No.</label>
    <input type="text" id="student_admno" name="student_admno" required>
  </div>

  <div class="form-group">
    <label for="student_doadm">Date of Admission</label>
    <input type="text" id="student_doadm" name="student_doadm" required>
  </div>
  <!-- Repeat .form-group for each field -->
   <div>
    <a href="base.html" target="_self" rel="noopener noreferrer">
      <button type="submit">Submit</button>
    </a>
    
   </div> 
<span>

</span>
<div>

    <a href="base.html" target="_self" rel="noopener noreferrer">
      <button type="button">Back </button>
    </a>
</div>
  
</form>

</div>
    
</body>
</html>